*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    /* to put the game in center with same structutre */
    display: flex; /* all box in one line */
    flex-wrap: wrap; /* jgh nhi h to next line me aa jao */
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; /* gap between boxes */ 
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex; /* all box in one line */
    flex-wrap: wrap; /* jgh nhi h to next line me aa jao */
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; /* gap between boxes */
}
.box{
    height: 18vmin; /* divide 60vmin in 3 parts */
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;

}
#reset{
    padding:1rem ;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding:1rem ;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#msg{
    color: #ffffc7;
    font-size: 8vmin;

}
.msg-container{
    height:100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}